.background {
    background-color: rgba(120, 120, 120, 0.44);
    position: absolute;
    top: 0;
    // bottom: 0;
    // right: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
}

.modal {
    border: 3px solid rgba(0, 0, 0, 0.584);
    background: linear-gradient(
        to left,
        rgb(253, 253, 184),
        rgb(255, 119, 119)
    );
    padding-top: 25px;
    padding-bottom: 25px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & button {
        margin-top: 25px;
    }
}

.text {
    font-size: 17px;
        text-align: center;
        margin: 0;
}

