.header {
    height: 100px;
    background-color: rgba(100, 150, 255, 0.5);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.buttons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;

    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 90px;
        height: 35px;
        border: none;
        border-radius: 25%;
        background-color: rgba(109, 255, 114, 0.7);
    }

    & span {
        font-size: 20px;
        font-weight: 600;
    }
}
