.card {
    border: 2px solid rgba(200, 100, 0, 0.4);
    border-radius: 20px;
    background-color: rgba(255,255,255);
    height: 420px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.article {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    margin: 0;
    text-align: center;
    size: 10px;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
        & p{
            margin: 0;
        }
        & div {
            width: 20px;
            height: 20px;
            border: 1px solid #ffdf69;
            border-radius: 50%;
        }
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    padding: 5;
    color: rgb(100, 100, 100);
    background-size: 200% auto;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.favBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}